/* Importation d'une police élégante (similaire à l'image) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* Fond légèrement clair */
    color: #333;
    text-align: center;
}

/* Style des titres de section (Les œuvres, Exposition à Venir) */
.section-title {
    background-color: #d4af37; /* Couleur or */
    color: #fff
